@charset "UTF-8";
* {
	box-sizing: border-box;
}

body {
	margin: 0 13px 0 13px;
	padding: 0;
}

hr {
	margin-top: 23px;
}

table {
	width:60%;
	border-collapse:collapse;
	font-size: 10px;
	text-align: center;
}

table th, table td {
	border: 1px solid #ddd;
	padding: 6px;
}

table th {
	width: 81px;
	height: 34px;
	background-color: #C0C0C0;
}

select {
	width: 170px;
	height: 22px;
	font-weight: lighter;
}

select:focus {
	box-shadow: 0px 0px 10px 0px rgba(60, 179, 113, 1);
}

.headText {
	font-size: 18px;
}

.comArea {
	display: flex;
	justify-content: space-between;
}

.buttonArea {
	margin: 10px 540px 0px 0px;
	text-align: right;
}

.button {
	width: 120px;
	height: 30px;
	font-size: 12px;
	font-family:sans-serif;
	color:white;
	background-color: #999999;
}

.button:hover {
	background-color: #555555;
}

.idText {
	font-weight: lighter;
}

.idText:focus, .nameText:focus, .priceText:focus,
.suppText:focus, .supUnitText:focus, .puckingNumText:focus {
	box-shadow: 0px 0px 10px 0px rgba(60, 179, 113, 1);
}

.nameText {
	width: 350px;
	font-weight: lighter;
}

.messageDiv {
	color: blue;
	font-family: serif;
}
